body{
    margin:0px;
}
.row{
    box-sizing: border-box;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}
.col{
    box-sizing: border-box;
    float: left;
}
p,span,h4,a{
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}
.header{
    background-color: white;
    padding-bottom:20px;
}
.logo{
    padding-bottom:19px;
    padding-top:25px;
    width:260px;
    margin: auto;
}
.logo > .col:nth-child(1){
    width:30%;
    text-align: right;
}
.logo > .col:nth-child(2){
    width:70%;
    padding-top:11px;
    text-align: left;
}
.logo > .col:nth-child(1) > a >img{
    margin:0px;
    width:65%;
    position: relative;
    left:2px;
}
.tag_name > span{
    margin:0px;
    font-size:25px;
    font-weight: bold;
    top:6px;
    right:2px;
    position: relative;
}
.tag_line > span{
    position: relative;
    margin:0px;
    font-size:8px;
}
.button_section{
    padding-left:30px;
    padding-right:30px;
}
.button_section > .col{
    width:50%;
}
.button_section > .col:nth-child(1) > a > p{
    color:rgb(208,60,48);
    margin:0px;
    margin-right:7px;
}
.button_section > .col:nth-child(2) > a >p{
    color:white;
    background-color:rgb(234,74,76);
    margin:0px;
    margin-left:7px;
}
.button_section p{
    border: solid 1px red;
    border-radius:2px;
    font-size:16px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:3px;
    padding-right:3px;
}
.row2{
    background-color:rgb(248,248,248);
    padding-left:10px;
    padding-right:10px;
    padding-top:40px;
    padding-bottom:40px;
}
.row21 > p{
    font-weight: bold;
    font-size:20px;
    margin-bottom:9px;
    margin-left:3px;
}
textarea{
    height:150px;
    width:339px;
    border: solid 0.5px rgb(204,198,198);
    background-color: white;
    border-radius:3px;
    padding:0px;
    
}
.submit{
    border: solid 1px red;
    width:129px;
    border-radius:2px;
    background-color:rgb(234,74,76);
    font-size:16px;
    text-align: center;
    color: white;
    padding-top:10px;
    padding-bottom:7px;
    padding-left:7px;
    padding-right:7px;
    margin-top:10px;
    margin-left:210px;
}
.container{
    padding-bottom:90px;
    background-color:rgb(248,248,248);
    padding-left:10px;
    padding-right:10px;
}
.content_block{
    border: solid 0.5px rgb(204,198,198);
    border-radius:4px;
    background-color:rgb(255,255,255);
    margin-top:20px;
    margin-bottom:20px;
    padding-left:19.5px;
    padding-right:19.5px;
}
.content_name > h4{
    color:rgb(65,65,65);
    font-size:19px;
}
.content_status > p{
    text-align: left;
    color:rgb(76,76,76);
    font-size:17px;
    margin-bottom:30px;
}
.content_date > p{
    text-align: right;
    font-style: italic;
    color:rgb(55,55,55);
    font-size:15px;
    margin-bottom:30px;
}
.footer{
    background-color:rgb(55,55,55);
    padding-left:30px;
    padding-right:30px;
    padding-top:50px;
    padding-bottom:50px;
} 
.row41 > p{
    font-size:17px;
    padding-left:3px;
    margin:0px;
    margin-left:0px;
    color: white;
}
.row42{
    margin-bottom:90px;
    margin-top:15px;
}
.row42 > .col:nth-child(1){
    width:45px;
}
.row42 > .col:nth-child(2){
    width:45px;
}
.row42 > .col:nth-child(1) > a > img{
    width:35px;
}
.row42 > .col:nth-child(2) > a > img{
    width:39px;
}
.row43,.row44{
    text-align: right;
    padding-bottom:1%;
}
.row43 > p{
    font-size:14px;
    margin:0px;
    color: white;    
}
.row44 > a{
    font-size:17px; 
    color: white;
    text-decoration: none;
}


