

.ro1 {
    border: solid 1px black;
    box-sizing: border-box;
    height: 100px; 
}


.logo {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 35%;
    height: 100px;
    text-align: right;
}
img{
    width:35%;
    margin:0px;
    padding-right:8%;
    padding-top: 15%;
}
.col2 {
    border: solid 1px black;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 65%;
    height: 100px;
}
.title {
    border: solid 1px black;
    box-sizing: border-box;
    height: 50px;
}
.ro2 {
    border: solid 1px black;
    box-sizing: border-box;
    height: 60px;
}
.ro2 > .col {
    box-sizing: border-box;
    height: 60px;
    display: inline-block;
    float: left;
    width: 50%;
    padding: 20px;
}
.row2 {
    height:500px;
    padding-left: 45px;
    padding-right: 35px;
}
.row2 > .row {
    box-sizing: border-box;
    height: 30px;
}

.ro3 > .col {  
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 50px;
}
.col5 {
    padding: 15px 5px 20px 110px;
    width: 70%;
}
.red {
    color: red;
}
.col4 {
    width: 30%;
}
input {
    border: solid 1px red;
    height:25px;
    width: 100%;
}
.row2 {
     background-color: rgb(248, 248, 248);
}
.row1 {
     background-color: rgb(255, 255, 255);
}
.row3 {
    box-sizing: border-box;
    background-color: rgb(55, 55, 55);
    height: 100px;
}



 

