body{
    margin:0px;
}
.row{
    box-sizing: border-box;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}
.col{
    box-sizing: border-box;
    float: left;
}
p,span,h4,a{
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}
.header{
    background-color: white;
    padding-bottom:20px;
}
.logo{
    padding-bottom:19px;
    padding-top:25px;
    width:260px;
    margin: auto;
}
.logo > .col:nth-child(1){
    width:30%;
    text-align: right;
}
.logo > .col:nth-child(2){
    width:70%;
    padding-top:11px;
    text-align: left;
}
.logo > .col:nth-child(1) > a >img{
    margin:0px;
    width:65%;
    position: relative;
    left:2px;
}
.tag_name > span{
    margin:0px;
    font-size:25px;
    font-weight: bold;
    top:6px;
    right:2px;
    position: relative;
}
.tag_line > span{
    position: relative;
    right:11px;
    margin:0px;
    font-size:8px;
}
.button_section{
    padding-left:30px;
    padding-right:30px;
}
.button_section > .col{
    display: inline-block;
    float: left;
    width:50%;
}
input {
    border: solid 1px red;
    height:25px;
    width: 100%;
    font-size: 18px;
}
.logout {
    text-align: right;
}
.dashboard {
    text-align: right;
    font-size: 18px;
}
.body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    padding-top: 10px;
}
.change_page > .col {
    border: solid 1px green;
    display: inline-block;
    float: left;
}
.profile {
    text-align: right;
    width: 60%;
    font-size: 21px;
    padding-right: 10px;
    
}  
.edit_profile {
    text-align: right;
    padding-right: 10px;
    width: 40%;
}
.red {
    color: red;
    font-size: 17px;
}
.body {
    background-color: rgb(248,248,248);
}
.row1 {
    background-color: white;
    border: solid 1px rgb(218,214,212);
}
.row2 {
    background-color: white;
    border: solid 0px rgb(218,214,212);
}
.time {
    text-align: right;
}

    

    
